parameters:
	level: 6
	phpVersion: 70400
	paths:
		- ./
	bootstrapFiles:
		- ../../common/autoload.php
	universalObjectCratesClasses:
		- BaseObject
	dynamicConstantNames:
		- RX_BASEURL
	ignoreErrors:
		- '#Constant RX_BASEURL not found#'
